{% extends '_base.html' %}
{% block content %}
    {% if messages %}
        {% if messages['username'] %}
            <p>{{messages['username']}}</p>
        {% endif %}

        {% if messages['password'] %}
            <p>{{messages['password']}}</p>
        {% endif %}

    {% endif %}
    <h1>Register an Account</h1>
    <form action="{{url_for('create')}}" method="post">
        <label for="username">Username</label>
        <input type="text"  name="username" id="username" value="" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="" />
        <input type="submit" name="create" id="create" value="create" />
    </form>

{% endblock %}

